$spotify-green: #2ab759;
$spotify-dark-green: #09a73e;

$min-app-width: 992px;
$top-navbar-height: 63px;
$main-content-y-offset: $top-navbar-height;

$header-margin-top: 10px;
.offset-header.offset-header.offset-header {
  margin-top: $header-margin-top;
}